<p>A new venue has been created by: {{venue.members.0.user.name}} - {{venue.members.0.user.email}}</p>
<p>
  <ul>
    <li>Name: {{venue.profile.name}}</li>
    <li>Email: {{venue.profile.email}}</li>
    <li>Tel: {{venue.profile.tel}}</li>
    <li>Address: {{venue.profile.address}}</li>
    <li>Type: {{venue.profile.type}}</li>
  </ul>
</p>
